* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.btns-container{
    height: 60px;
    width: 60px;
    border-radius:50% ;
    box-shadow: 0 2px 2px white;
  background-color: #000;
  color: white;
    font-size: 50px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
}
h1{
    font-size: 60px;
}